/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

/* common styles */
body {
   font-family: 'Saira', sans-serif;
}

.btn-common {
   width: 236px;
   height: 70px;
   border-radius: 12px;
   font-size: 22px;
}

@media only screen and (max-width: 767px) {
   .btn-common {
      width: 200px;
      height: 55px;
      font-size: 20px;
   }
}

/* color scheme */
.text-1F1D36 {
   color: #1f1d36;
}
.text-C4CBD3 {
   color: #c4cbd3;
}
.text-5B3152 {
   color: #5b3152;
}
.text-3E3E3E {
   color: #3e3e3e;
}
.text-4AD093 {
   color: #4ad093;
}
.text-5A5A5A {
   color: #5a5a5a;
}
.text-638289 {
   color: #638289;
}
.text-2F5F6F {
   color: #2f5f6f;
}
.text-512B49 {
   color: #512b49;
}
.text-C4C4C4 {
   color: #c4c4c4;
}
.text-A6A6A6 {
   color: #a6a6a6;
}
.text-414141 {
   color: #414141;
}
.text-3F3351 {
   color: #3f3351;
}
.text-322941 {
   color: #322941;
}
.text-473E54 {
   color: #473e54;
}
.text-864879 {
   color: #864879;
}
.text-5A3051 {
   color: #5a3051;
}
.text-D5BFD0 {
   color: #d5bfd0;
}
.text-EAD8E6 {
   color: #ead8e6;
}
.text-E9A6A6 {
   color: #e9a6a6;
}
.text-BEAABA {
   color: #beaaba;
}
.text-FF9F43 {
   color: #ff9f43;
}
.text-FECA57 {
   color: #feca57;
}
.text-9B5511 {
   color: #9b5511;
}
.text-D9D9D9 {
   color: #d9d9d9;
}
.text-EDE3EB {
   color: #ede3eb;
}

/* background color scheme */
.bg-1F1D36 {
   background: #1f1d36;
}
.bg-414141 {
   background: #414141;
}
.bg-5A5A5A {
   background: #5a5a5a;
}
.bg-FFCE95 {
   background: #ffce95;
}
.bg-F3C1E5 {
   background: #f3c1e5;
}
.bg-B2F6CD {
   background: #b2f6cd;
}
.bg-B2EAF6 {
   background: #b2eaf6;
}
.bg-F6BAB2 {
   background: #f6bab2;
}
.bg-EEE3EB {
   background: #eee3eb;
}
.bg-512B49 {
   background: #512b49;
}
.bg-C4C4C4 {
   background: #c4c4c4;
}
.bg-A6A6A6 {
   background: #a6a6a6;
}
.bg-414141 {
   background: #414141;
}
.bg-3F3351 {
   background: #3f3351;
}
.bg-322941 {
   background: #322941;
}
.bg-473E54 {
   background: #473e54;
}
.bg-864879 {
   background: #864879;
}
.bg-5A3051 {
   background: #5a3051;
}
.bg-D5BFD0 {
   background: #d5bfd0;
}
.bg-EAD8E6 {
   background: #ead8e6;
}
.bg-E9A6A6 {
   background: #e9a6a6;
}
.bg-BEAABA {
   background: #beaaba;
}
.bg-FF9F43 {
   background: #ff9f43;
}

.bg-FECA57 {
   background: #feca57;
}
.bg-9B5511 {
   background: #9b5511;
}
.bg-D9D9D9 {
   background: #d9d9d9;
}
.bg-EDE3EB {
   background: #ede3eb;
}

/* font scheme */
/* custom font size */
.text-xs {
   /* 12px */
   font-size: 0.75rem;
   line-height: 1rem;
}
.text-sm {
   /* 14px */
   font-size: 0.875rem;
   line-height: 1.25rem;
}
/* fs-6 stands for 16px */
.text-lg {
   /* 18px */
   font-size: 1.125rem;
   line-height: 1.75rem;
}

/* fs-5 stands for 20px */
/* fs-4 stands for 24px */
/* fs-3 stands for 28px */
/* fs-2 stands for 32px */
/* fs-1 stands for 40px */
