.dash-menu-item,
.need-help,
.recently-saved-contact,
.dash-middle-top div,
.enquiry-negotioations,
.nothing p,
.recent-messages {
   border-radius: 8px;
   box-shadow: 0px 0px 8px 0px rgb(206, 187, 187);
}

.recently-saved-contact {
   min-height: 80vh;
   position: relative;
}

.all-contact {
   position: absolute;
   bottom: 6px;
   right: 10px;
   cursor: pointer;
}

.cloth-btn {
   border-radius: 30px;
}

.dateandtime {
   font-size: 8px;
}

.enquiry-negotioations {
   position: relative;
}

.show-all-enquiries {
   position: absolute;
   bottom: 6px;
   right: 10px;
   cursor: pointer;
}

.recent-messages {
   position: relative;
   min-height: 100vh;
}
