p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

.bg-E5E5E5 {
   background: #e5e5e5;
}

.text-C4CBD3 {
   color: #c4cbd3;
}

.rounded-lg {
   border-radius: 1rem !important;
}

.header-text {
   top: 28%;
   left: 8%;
}

.vedio-btn {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.up-corner {
   position: absolute;
   top: -11px;
   right: 2px;
}
.down-corner {
   position: absolute;
   bottom: -11px;
   left: 1px;
}

.play-video {
   width: 100%;
}

@media (max-width: 575.98px) {
   .rounded-lg {
      border-radius: 0.4rem !important;
   }
   .fs-xs-3 {
      font-size: 14px !important;
   }
   .fs-xs-5 {
      font-size: 12px !important;
   }
   #header .header-text {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   .vedio-btn img {
      width: 50%;
   }
}

@media (min-width: 576px) and (max-width: 991.98px) {
   .vedio-btn img {
      width: 65%;
   }
   .rounded-lg {
      border-radius: 0.6rem !important;
   }
   .fs-xs-5 {
      font-size: 18px !important;
   }
}
