/* footer top */
.footer-top {
   background: url('./../images/wave_bg.jpg');
   background-position: top;
   background-size: 100%;
   background-color: #eee3eb;
   background-repeat: no-repeat;
}
.newsletter {
   background: url('./../images/newsletter_bg.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 105px 42px 35px 42px;
   position: relative;
}

.newsletter button {
   padding: 10px 70px;
   border-radius: 8px;
   margin-left: -8px;
}

.newsletter-img {
   position: absolute;
   top: -14px;
   width: 90px;
   right: 100px;
}

.menu-list a,
.menu-list p {
   color: #1f1d36;
}

.menu-list a {
   text-decoration: none;
}

.menu-list p {
   margin-bottom: 0.6rem;
}

@media only screen and (max-width: 1199px) {
   .newsletter {
      width: 75% !important;
   }
}

@media only screen and (max-width: 768px) {
   .newsletter {
      width: 100% !important;
   }
}

@media only screen and (max-width: 576px) {
   .newsletter {
      width: 100% !important;
      background-size: 100%;
      padding: 105px 42px 55px 42px;
   }
   .newsletter button {
      padding: 10px 30px;
   }
}

@media only screen and (max-width: 513px) {
   .footer-top {
      background-size: 300%;
   }
   .newsletter {
      background-size: contain;
      padding: 105px 25px 60px 25px;
   }
}

@media only screen and (max-width: 460px) {
   .newsletter-img {
      top: 0;
      right: 80px;
   }
   .menu-list h5 {
      font-size: 20px !important;
   }
   .newsletter button {
      padding: 5px 25px;
   }
}

@media only screen and (max-width: 415px) {
   .newsletter {
      background-size: 100% 132px;
      padding: 115px 25px 77px 25px;
   }
   .newsletter-img {
      top: 15px;
      right: 55px;
   }
   .footer-top {
      background-size: 500%;
   }
}

/* footer */
.footer .terms span a {
   font-size: 19px;
   text-decoration: none;
}

.social {
   font-size: 35px;
}

.social a {
   text-decoration: none;
}

.social a i {
   padding: 0 15px;
}

.footer-credit {
   padding: 15px 25px;
}
