:root {
   --main-bg-color: linear-gradient(90deg, #43243d 0%, #5e3255 100%);
   --heading-color: #1f1d36;
   --paragraph-iconBG-btn: #5a3051;
   --gray-bg: #ede3eb;
   --common-white: #ffffff;
}

/* border redious */
.rounded-lg {
   border-radius: 0.85rem !important;
}
.rounded-lg-bottom {
   border-bottom-right-radius: 0.85rem !important;
   border-bottom-left-radius: 0.85rem !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

.text-7xl {
   font-size: 4.5rem;
   line-height: 1;
}

.custom-hr {
   width: 50%;
   margin: 0 auto;
}

/* header section */
/* .header-section {
  background: var(--main-bg-color);
  padding: 10px 20px;
} */

.header-left h1 {
   color: var(--common-white);
   font-size: 60px;
}

.header-left p {
   color: #e9a6a6;
   font-size: 22px;
}

.header-left button {
   background: var(--common-white);
   color: var(--paragraph-iconBG-btn);
   width: 220px;
   font-size: 18px;
   height: 60px;
}

.header-left .count-brand {
   font-size: 16px;
   margin-top: 10px;
}

.header-left span {
   color: var(--common-white);
}

.header-form {
   background: var(--common-white);
   padding: 20px;
   border-radius: 20px;
   position: relative;
}

.header-form h2 {
   color: var(--paragraph-iconBG-btn);
   font-size: 30px;
}

.header-form hr {
   border: 1.5px solid var(--paragraph-iconBG-btn) !important;
}

.header-form input[type='email'] {
   padding: 15px;
   border: 2px solid var(--paragraph-iconBG-btn);
   margin-top: 25px;
}

.header-form button {
   margin-top: 20px;
   padding: 15px;
   font-size: 20px;
   background: var(--paragraph-iconBG-btn);
   color: var(--common-white);
   border-radius: 10px;
}

.header-form .form-checkbox {
   margin-top: 15px;
   color: var(--paragraph-iconBG-btn);
}

.badge {
   position: absolute;
   bottom: -75px;
   right: -40px;
}

.ratings {
   color: #e9a6a6;
   font-size: 25px;
   position: absolute;
   right: 60px;
   bottom: -50px;
}

/* feedback */

.feedback {
   /* clip-path: ellipse(160% 56% at 50% 44%); */
   padding-bottom: 55px;
   background-image: url('../images/wave_bg.jpg'), url('../images/bg_two.png');
   background-repeat: no-repeat;
   background-position: left top, left 65%;
   background-size: 100% auto, 100% 85%;
}

.feedback .title {
   font-size: 10px;
   color: #3f3351;
}
.feedback .comment {
   font-size: 12px;
   text-align: justify;
}

.feedback .z-index {
   position: relative;
   z-index: 222 !important;
}

.activity {
   position: absolute;
   top: -20%;
   left: 8%;
}

.border-color {
   border-color: #5a3051 !important;
}
.left-img {
   position: absolute;
   left: 0;
   top: 10% !important;
   z-index: -999;
}
.right-img {
   position: absolute;
   right: 0;
   top: 0;
   z-index: -999;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   .feedback {
      background-position: left top, left 5%;
      background-size: 100% auto, 100% 98%;
   }
   .text-sm {
      font-size: 0.875rem;
      line-height: 1.25rem;
   }
   .fs-xs-4 {
      font-size: 8px !important;
      font-weight: bold;
   }
   .fs-xs-2 {
      font-size: 16px !important;
   }
   .left-img {
      width: 50%;
   }
   .right-img {
      width: 50%;
   }
}

@media (min-width: 576px) and (max-width: 768px) {
   .feedback {
      background-position: left top, left 5%;
      background-size: 100% auto, 100% 98%;
   }
}
