/* header */
.header-title {
   min-height: 88vh;
}

/* all post */
.post-underline {
   height: 1px;
   min-width: 88%;
}

@media only screen and (max-width: 576px) {
   .post-img img {
      width: 100%;
   }
}
