p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.bg-grad {
  background: linear-gradient(90deg, #43243d 0%, #5e3255 100%);
}

.border-E9A6A6 {
  border-color: #e9a6a6 !important;
}

/* border redious */
.redious-md {
  border-radius: 12px;
}

.border-5A3051 {
  border-color: #5a3051 !important;
}

.redious-lg {
  border-radius: 17px;
}

.btn-common {
  height: 62px;
}

a {
  color: #5a3051;
}
a:hover {
  color: #5a3051;
}

@media (max-width: 575.98px) {
  .fs-xs-3 {
    font-size: 1rem !important;
  }

  .btn-common {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768.98px) {
  .btn-common {
    width: 160px;
    font-size: 14px;
    height: 55px;
  }
}

@media (min-width: 991.98px) and (max-width: 1200px) {
  .btn-common {
    width: 180px;
    height: 50px;
    font-size: 14px;
  }
}
