.pricing-buttons {
   max-width: 330px;
}
.pricing-buttons {
   padding: 2px;
   border-radius: 55px;
}
.btn-monthly,
.btn-yearly {
   border-radius: 50px;
   padding: 15px 40px;
   margin-right: 2px;
}

@media only screen and (max-width: 392px) {
   .pricing-buttons {
      max-width: 250px;
   }
   .btn-monthly,
   .btn-yearly {
      padding: 15px 20px;
   }
}

.price {
   font-size: 45px;
}

.arrow-one {
   color: #ada2aa;
}

.arrow-two {
   color: #e0dadf;
}

.trial-button a {
   color: #e9a6a6;
   text-decoration: none;
}

.packages {
   border-radius: 10px;
   padding: 25px;
}

/* tools and features */
.tools {
   /* clip-path: ellipse(84% 56% at 50% 44%); */
   background-image: url('./../images/wave_bg.jpg');
   background-size: 100% 42%;
   background-repeat: no-repeat;
   background-position: bottom;
}

.single-tool-item {
   box-shadow: 0px 4px 33px rgba(213, 191, 208, 0.5);
   border-radius: 15px;
}

.tool-items-img img {
   min-width: 70px;
}

/* customer reviews */
.reviews {
   /* background-image: url('./../images/pricing_bg_curve.png');
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: 100% 30%; */

   padding-bottom: 60px;
   clip-path: ellipse(80% 56% at 50% 44%);
}

@media only screen and (max-width: 500px) {
   .reviews {
      clip-path: ellipse(125% 56% at 50% 44%);
   }
}

.single-review {
   box-shadow: 0px 4px 33px rgba(213, 191, 208, 0.5);
   border-radius: 35px;
}

.review-icons {
   color: #ffd233;
}
