/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

/* common styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.h-75 {
   height: 90vh !important;
}

:root {
   --main-bg-color: linear-gradient(90deg, #43243d 0%, #5e3255 100%);

   --heading-color: #000000;

   --paragraph-iconBG-btn: #5a3051;

   --gray-bg: #ede3eb;

   --common-white: #ffffff;
}

body {
   font-family: 'Saira', sans-serif;
}

/* header section */
.header-section {
   background: var(--main-bg-color);
   padding: 10px 20px;
   position: relative;
}

.header-section nav ul li {
   color: var(--common-white) !important;
   font-size: 20px;
   padding: 0 8px;
}

.header-section nav ul li a {
   color: var(--common-white) !important;
}

.header-section nav .btn-login,
.btn-signup {
   font-size: 20px;
   color: var(--common-white);
}

.header-section nav .btn-signup {
   background: #e9a6a6;
   border-radius: 25px;
   padding: 0 30px;
   color: var(--paragraph-iconBG-btn);
}

.header-section nav .dropdown-menu li a {
   color: var(--paragraph-iconBG-btn) !important;
}

.header-left h1 {
   color: var(--common-white);
   font-size: 60px;
}

.header-left p {
   color: #e9a6a6;
   font-size: 22px;
}

.header-left button {
   background: var(--common-white);
   color: var(--paragraph-iconBG-btn);
   width: 220px;
   font-size: 18px;
   height: 60px;
}

.header-left span {
   color: var(--common-white);
}

.about-banner {
   position: absolute;
   bottom: 0;
}

@media only screen and (max-width: 768px) {
   .h-75 {
      height: 127vh !important;
   }
}

/* our mission section */
.achievement-title p {
   font-size: 19px;
   color: var(--paragraph-iconBG-btn);
}

.mission-img {
   background: url('./../images/mission_bg.png');
   background-repeat: no-repeat;
   background-position: center;
   padding: 75px 0;
}

.mission-img img {
   height: 80px;
   width: 80px;
}

/* achievement section */
.achieved-point {
   font-size: 20px;
}

.achieved-ico {
   padding-top: 3px;
}

@media only screen and (max-width: 650px) {
   .achievement-left {
      padding: 0 40px;
      margin-bottom: 4;
   }
   .achievement-right {
      margin-top: 40px;
   }
   .achieved-point,
   .achievement-left {
      padding: 0px 15px !important;
   }
}

.achieve-btn {
   background: var(--paragraph-iconBG-btn);
   color: var(--common-white);
   border: none;
   font-size: 20px;
   padding: 13px 50px;
   border-radius: 10px;
}

/* history section */
.history {
   clip-path: ellipse(160% 56% at 50% 44%);
   padding-bottom: 55px;
   background: var(--gray-bg);
   background-image: url('./../images/wave_bg.jpg');
   background-position: top;
   background-repeat: no-repeat;
   background-size: 100% auto;
}

.history-title p {
   color: var(--paragraph-iconBG-btn);
   font-size: 19px;
}

@media only screen and (max-width: 768px) {
   .history-text-wrapper {
      margin-top: 35px;
      padding: 0 15px;
   }
}

/* mission simple */
.mission-simple {
   background: url('./../images/world_map.png');
   padding: 118px 0px !important;
   background-size: 100% 500px;
   background-position: center;
   background-repeat: no-repeat;
}

.mission-simple-title,
.mission-simple-count {
   color: var(--paragraph-iconBG-btn);
}

.mission-simple-count h2 {
   font-size: 3rem;
}

.mission-simple-count p {
   font-size: 1.5rem;
   font-weight: bold;
}

@media only screen and (max-width: 456px) {
   .mission-simple-count h2 {
      font-size: 2rem;
   }
   .mission-simple-count p {
      font-size: 1rem;
   }
}

.history-pera {
   color: var(--paragraph-iconBG-btn);
   font-size: 20px;
}

.launched {
   color: var(--paragraph-iconBG-btn);
}

.launched-details p {
   font-size: 20px;
   font-weight: bold;
}

.get-start h3 {
   color: var(--paragraph-iconBG-btn);
}

@media only screen and (max-width: 767px) {
   .history {
      clip-path: ellipse(250% 56% at 50% 44%);
      padding-bottom: 45px;
   }
}

@media only screen and (max-width: 540px) {
   .history {
      clip-path: ellipse(300% 56% at 50% 44%);
      padding-bottom: 35px;
   }
}

/* footer top */
.footer-top {
   background: url('./../images/wave_bg.jpg');
   background-position: top;
   background-size: 100% 500px;
   background-repeat: no-repeat;
}
.newsletter {
   background: url('./../images/newsletter_bg.png');
}
